@charset "utf-8";

:root {
  --brand-color: #eb1248;
  --light-color: #f5efef;
  --dark-color: #181818;
  --back-color: #0d253f;
  --hover-color:#f8658a;
  --favorite-color :#eb1248;

  --font-large: 36px;
  --font-semi-large: 24px;
  --font-medium: 16px;
  --font-small: 12px;

  --font-title: 'Paytone One', sans-serif;
  --font-letter: 2px;

  --four-col : 25%;
  --margin-bottom: 10px;
  --small-pad : 8px; 
  --medium-pad : 12px;
  --max-witdh: 80%;
}

/*********************** Reset Styles ***********************/
html {
  box-sizing: border-box;
}
/* Box sizing rules */
*,*::before,*::after {
box-sizing: border-box;
}
/* Remove default padding and style */
ul,ol,dl {
padding: 0;
list-style: none;
}
/* Remove default margin */
body,h1,h2,h3,h4,p,ul,li,dl,dt,dd,figure,figcaption,form {
margin: 0;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
form fieldset {border: none;}
.sr-only {
border: 0 !important;
clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
-webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
height: 1px !important;
margin: -1px !important;
overflow: hidden !important;
padding: 0 !important;
position: absolute !important;
width: 1px !important;
white-space: nowrap !important; /* 3 */
}
a {
  color: var(--brand-color);
  transition: 0.4s;
}
a:hover {
  text-decoration: none;
  color: var(--hover-color);
}


/* Header */
header {
  background-color: var(--dark-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px 14px;
}
header h1.title {
  color: var(--brand-color);
  font-size: var(--font-large);
  text-decoration: none;
  font-family: var(--font-title);
  letter-spacing: var(--font-letter);
}
.nav-item {
  color: var(--light-color);
  font-size: var(--font-semi-large);
}
button.menu {
  display: block;
  width: 40px;
  border: none;
  background-color: transparent;
  margin-top: -20px;
  padding: 0;
}
button.menu .bar {
  display: block;
  height: 4px;
  background-color: var(--light-color);
  width: 100%;
  position: relative;
  top: 10px;
  border-radius: 10px;
}
button.menu .bar:before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--light-color);
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
button.menu .bar:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--light-color);
  position: absolute;
  top: -10px;
  left: 0;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
button.menu:focus,
.button-content:focus {
  outline: none;
}
.show button.menu .bar {
  background-color: transparent;
}
.show button.menu .bar:before {
  transform: rotate(45deg);
  top: 0;
}
.show button.menu .bar:after {
  transform: rotate(-45deg);
  top: 0;
}

header nav {
  height: 0;
  overflow: hidden;
  width: calc(100% + 60px);
}
.show nav {
  height: 100%;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header nav li {
  width: 100%;
  letter-spacing: var(--font-letter);
  font-family: var(--font-title);
  font-size: var(--font-semi-large);
}
header nav a {
  display: block;
  color:var(--light-color);
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  border-top: 1px solid var(--back-color);
  transition: 0.3s;
}
header nav a:hover {
  color: var(--brand-color);
}

@media (min-width :768px ) {
    header {
        flex-wrap: nowrap;
    }  
    button.menu .bar  {
        display: none;
      }
    header nav {
        display: block;
        overflow: auto;
        height: auto;
        width: 55%;
    }
    header nav ul {
      flex-direction: row;
      justify-content: space-between;
    }
    header nav a {
      border: none;
    }
}

/* Main */
main {
  background: var(--back-color);
  min-height: calc(100vh - 56px - 50px);
  color: var(--light-color);
}
h2 {
  padding: var(--medium-pad) 0 var(--medium-pad) 1rem;
  font-family: var(--font-title);
}
@media (min-width :768px ) {
  main {
    padding: 20px;
  }
}

/* Footer */
footer {
  background: var(--dark-color);
  padding: 20px;
  color: var(--light-color);
  font-size: var(--font-small);
  display: flex;
  justify-content: space-between;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
footer ul li {
  font-size: var(--font-medium);
  margin-left: 10px;
  font-family: var(--font-title);
}
@media (min-width :768px ) {
  footer ul {
    flex-direction: row;
  }
}
.message h3{
  color: var(--favourite-color );
  margin: var(--margin-bottom);
}