h2 {
  padding-top: 20px;
  font-family: var(--font-title);
}
.choose_option {
  padding: 30px;
}
.choose_option div {
  margin-bottom: var(--margin-bottom);
}
input {
  width: 250px;
}
select {
  width: 250px;
  height: 30px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tvshow_item {
  padding: 3px;
  position: relative;
  margin-bottom: 25px;
  transition: transform .3s;
}
.tvshow_item:hover {
  transform: scale(1.1);
  z-index: 999;
}
.tvshow_item img {
  cursor: pointer;
}
.progress_icon {
  position: absolute;
  right: 0;
  top: 0;
}
h3 {
  color: #9e9e9e;
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 768px){
  .choose_option {
    display: flex;
    justify-content: space-around;
  }
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px){
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}


/* CIRCULAR PROGRESS BAR bootstrap */
.progress {
  width: 45px;
  height: 45px;
  background: none;
  position: relative;
}
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #313131;
  border: 2px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.progress .progress-value {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}
