main {
    min-height: calc(100vh - 56px - 50px);
  }
.list {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
 }
 
 .card {
    width:var(--four-col);
    margin-bottom: var(--margin-bottom);
    position : relative;
    /* max-height: calc(80vh - 56px - 50px); */
    background-color: var(--background);
    border-color:  rgb(143, 140, 140);
 }
 .card a{
    color:var(--amazon-color);
 }
 .card-title{
    color:var(--light-color);
    padding: var(--small-pad);
 }
 h5{
    color: var(--light-color);
 }
 .header-content{
    margin: var(--margin-bottom);
    color: var(--light-color);
    padding: var(--medium-pad);
 }
 .container-fluid {
    max-width: var(--max-width);
 }
 .fa-heart{
    color: var(--light-color);
 }
 .favourite {
    color: var(--favourite-color);
 }