.container-fluid {
    max-width: var(--max-width);
 }
 
 .page-description {
     line-height: 1.6;
     padding-left: 1rem;
  }

.list, .list2 {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top: 40px;
 }
 .list:after,
 .list:before,
 .list2:after,
 .list2:before {
      content: "";
      display: block;
      width: 25%;
      height: 0;
}
.list:before,
.list2:before {
      order: 1;
}
 
 .card {
    width:var(--four-col);
    margin-bottom: var(--margin-bottom);
    position : relative;
    /* max-height: calc(80vh - 56px - 50px); */
    background-color: var(--background);
    border: none;
    padding: 0 1rem 2rem 1rem;
    transition: transform .3s;
 }
 
.card:hover {
   transform: scale(1.1);
   z-index: 999;
 }
 .card-body {
    padding: 0;
 }
 .card a{
    color:var(--amazon-color);
 }
 .card-body img {
   cursor: pointer;
 }
 h5.card-title {
    color: var(--light-color);
    font-size: var(--font-medium);
 }

 .rating {
    font-size: var(--font-medium);
 }
 .header-content{
    margin: var(--margin-bottom);
    color: var(--light-color);
    padding: var(--medium-pad);
 }
 
 .fa-heart{
    color: var(--light-color);
    margin-right: 5px;
 }
 .favorite {
    color: var(--favorite-color);
 }

 .card-info {
    display: flex;
    margin-top: 10px;
 }

 @media (max-width :768px ) {
   .card {
      width: 32%;
   }
   .list:after,
   .list:before,
   .list2:after,
   .list2:before {
      width: 32%;
}
}
@media (max-width :425px ) {
   main {
      padding: 0;
   }
   .card {
      width: 50%;
   }
}

 /* CIRCULAR PROGRESS BAR bootstrap */
 .progress_icon {
    position: absolute;
    top:-10px;
    right: 0;
   }
.progress {
   width: 45px;
   height: 45px;
   background: none;
   position: relative;
 }
 .progress::after {
   content: "";
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: #313131;
   border: 2px solid #eee;
   position: absolute;
   top: 0;
   left: 0;
 }
 .progress > span {
   width: 50%;
   height: 100%;
   overflow: hidden;
   position: absolute;
   top: 0;
   z-index: 1;
 }
 .progress .progress-left {
   left: 0;
 }
 .progress .progress-bar {
   width: 100%;
   height: 100%;
   background: none;
   border-width: 2px;
   border-style: solid;
   position: absolute;
   top: 0;
 }
 .progress .progress-left .progress-bar {
   left: 100%;
   border-top-right-radius: 80px;
   border-bottom-right-radius: 80px;
   border-left: 0;
   -webkit-transform-origin: center left;
   transform-origin: center left;
 }
 .progress .progress-right {
   right: 0;
 }
 .progress .progress-right .progress-bar {
   left: -100%;
   border-top-left-radius: 80px;
   border-bottom-left-radius: 80px;
   border-right: 0;
   -webkit-transform-origin: center right;
   transform-origin: center right;
 }
 .progress .progress-value {
   z-index: 100;
   position: absolute;
   top: 0;
   left: 0;
 }

 


